<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sl No</th>
      <th scope="col">Title</th>
      <th scope="col">Created On</th>
      <th scope="col">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list; index as i">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ item.title }}
      </td>
      <td>
        {{ item.createdOn | date: "dd-MM-yyyy hh:mm:ss a" }}
      </td>
      <td>
        {{ item.status }}
      </td>
      <td>
        <a class="btn btn-info btn-sm" [routerLink]="['/details', item.id]"
          >Show</a
        >
      </td>
    </tr>
  </tbody>
</table>
