<h2>Statistics Dashboard</h2>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>open</td>
      <td>{{ statistics.open }}</td>
    </tr>
    <tr>
      <td>completed</td>
      <td>{{ statistics.completed }}</td>
    </tr>
    <tr>
      <td>cancelled</td>
      <td>{{ statistics.cancelled }}</td>
    </tr>
    <tr>
      <td>done</td>
      <td>{{ statistics.done }}</td>
    </tr>
  </tbody>
</table>
